.animate-spin-slow {
    animation: spin 8s linear infinite;
}
.animate-reverse-spin {
    animation: spin 12s linear infinite reverse;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
